body {
	background-image: url('../images/sw-bg.jpg')
}

#mainTitle {
    color: white;
	text-align:center;
	font-size: 85px;
    text-shadow: 7px 7px 7px black;
    font-family: 'Space Mono', monospace;
}

.title{
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color: white;
}

.newGame{
    text-align: center;
}

.character {
	font-family: 'Space Mono', monospace;
	font-size: 40px;
	float: left;
	text-align: center;
	display: block;
	width: 200px;
	margin: 10px 0;
}

.image {
    width: 75%;
    height: 200px;
    display: block;
    margin: auto;
}

#characters {
    width: 100%;
    display: inline-block;
}

.characterName, .characterHealth {
	color: white;
    width:100%;
    font-size: 50%;
	margin: 0 auto;
}

.characterHealth {
    font-family: 'Space Mono', monospace;
	font-size: 20px;
}