body {
	background-image: url('../images/sw-bg.jpg')
}

#mainTitle {
    color: white;
	text-align:center;
	font-size: 85px;
    text-shadow: 7px 7px 7px black;
    font-family: 'Space Mono', monospace;
}

.title{
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color: white;
}

.newGame{
    text-align: center;
}

#characters {
    width: 100%;
    display: inline-block;
}